@font-face {
  font-family: "Bull";
  src: url("https://red-bull-checkpoint.s3.eu-west-3.amazonaws.com/assetsame/fonts/BULL-THIN1.OTF")
    format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Bull";
  src: url("https://red-bull-checkpoint.s3.eu-west-3.amazonaws.com/assets/fonts/BULL-THIN2.OTF")
    format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Bull";
  src: url("https://red-bull-checkpoint.s3.eu-west-3.amazonaws.com/assets/fonts/BULL-REGULAR.OTF")
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Bull";
  src: url("https://red-bull-checkpoint.s3.eu-west-3.amazonaws.com/assets/fonts/BULL-MEDIUM.OTF")
    format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Bull";
  src: url("https://red-bull-checkpoint.s3.eu-west-3.amazonaws.com/assets/fonts/BULL-BOLD.OTF")
    format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Bull";
  src: url("https://red-bull-checkpoint.s3.eu-west-3.amazonaws.com/assets/fonts/BULL-HEAVY1.OTF")
    format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Bull";
  src: url("https://red-bull-checkpoint.s3.eu-west-3.amazonaws.com/assets/fonts/BULL-HEAVY2.OTF")
    format("opentype");
  font-weight: 900;
}
