@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 12% 16%;
    --foreground: 214 13% 90%;
    --muted: 210 12% 20%;
    --muted-foreground: 210 12% 70%;
    --popover: 210 12% 13%;
    --popover-foreground: 214 13% 100%;
    --card: 210 12% 14%;
    --card-foreground: 214 13% 95%;
    --border: 210 2% 21%;
    --input: 210 2% 24%;
    --primary: 214 13% 90%;
    --primary-foreground: 214 13% 30%;
    --secondary: 214 3% 25%;
    --secondary-foreground: 214 3% 85%;
    --accent: 210 12% 31%;
    --accent-foreground: 210 12% 91%;
    --destructive: 1 94% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 214 13% 90%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #000080, 0 0 20px #000080,
      0 0 25px #000080, 0 0 30px #000080, 0 0 35px #000080;
  }
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 25px #000080, 0 0 30px #000080,
      0 0 35px #000080, 0 0 40px #000080, 0 0 45px #000080;
  }
}

.animate-glow {
  animation: glow 1s ease-in-out infinite alternate;
}

html {
  cursor: url("https://red-bull-checkpoint.s3.eu-west-3.amazonaws.com/assets/cursor/pano.cur"),
    auto;
}

layer components {
  .custom-btn-7 {
    @apply relative overflow-hidden border-none;
  }

  .custom-btn-7::before,
  .custom-btn-7::after,
  .custom-btn-7 span::before,
  .custom-btn-7 span::after {
    @apply absolute content-[''] bg-gray-100 shadow-[0_0_5px_rgb(245,245,245)] transition-all duration-300;
  }

  .custom-btn-7::before {
    @apply right-0 bottom-0 h-1/2 w-[2px];
  }

  .custom-btn-7::after {
    @apply right-0 bottom-0 w-[20%] h-[2px];
  }

  .custom-btn-7:hover::before {
    @apply h-full;
  }

  .custom-btn-7:hover::after {
    @apply w-full;
  }

  .custom-btn-7 span::before {
    @apply left-0 top-0 w-[2px] h-1/2;
  }

  .custom-btn-7 span::after {
    @apply left-0 top-0 h-[2px] w-[20%];
  }

  .custom-btn-7:hover span::before {
    @apply h-full;
  }

  .custom-btn-7:hover span::after {
    @apply w-full;
  }

  .lighting-effect {
    @apply absolute top-0 -left-full w-full h-full pointer-events-none;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(210, 0, 60, 0.3),
      transparent
    );
    animation: lightingEffect 3s infinite;
  }

  @keyframes lightingEffect {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
}
